@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
    font-family:"Briem+Hand";
    color: white;
    text-decoration: none;
    overflow-x: hidden;
}

.header {

    top:0;
    left:0;
    padding: 20px 50px;
    color: white;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.header .controls a{
  padding: 10px;
  margin: 0px 10px;
}

.header b {
    font-size: large;
    color: white;
    text-decoration: underline;
     
  }
.header b:hover {
    color: white;
    text-decoration:none;
    font-size:1.5rem;
    transition: all 250ms;
  }
  


  .home-bg{
    position: fixed;
    top: 0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image:url(art.jpg);
    background-size: 100%;
    filter: blur(5px);
    background-position: center;
    display: flex;
    align-items: center;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
  }

  .content {
    display: flex;
    flex-direction: row;
  }

  .content video {
    width: 35vw;
    height: 50vh;   
    display: flex;
    justify-content:left;
    margin-top: 70px;
    margin-left: 400px;
    margin-bottom: 100px;
    padding: auto;
    animation-play-state: running;
    
    
  }

  
  .content h1 {
    filter: blur(0px);
    font-size:1.8rem;
    letter-spacing: .03em;
    color:black;
    text-shadow: 2cm;
    text-align: left;
    margin-top: 0px;
    margin-left:20px;
    margin-right: 120px;
    -webkit-text-stroke: 0.05px black;
    width: 80vw;
    font-family:"Briem+Hand";
    animation: forwards;
    animation-duration:  all 250ms;

  }

 